.donuts-create-container {
  background-color: #bd8cbf;
  padding-top: 100px;
}

#create-donut-form {
  background-color: #440e62;
  color: #f5f5f5;
  min-height: 500px;
  width: 400px;
  margin: auto;
  padding: 50px;
  border-radius: 50px;
  position: relative;
  top: 70px;
}

#create-donut-form * {
  color: #f5f5f5;
}

#create-donut-form h1.form-title {
  text-align: center;
  font-size: 25px;
  margin-top: -15px;
}

#create-donut-form .form-subtitle {
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  margin-top: -15px;
}

#create-donut-form .form-group {
  margin-bottom: 20px;
}

#create-donut-form input[type='text'],
#create-donut-form input[type='number'] {
  width: 100%;
  margin-top: 5px;
  background-color: #dcdcdc;
  color: #222;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
}

#create-donut-form button[type='submit'] {
  padding: 15px;
  background-color: #f26d7d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

#create-donut-form button[type='submit']:hover {
  background-color: #e74457;
}

#create-donut-form .price-input > input {
  padding-right: 50px;
}

#create-donut-form .price-icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: -55px;
  right: -260px;
  filter: grayscale(100) contrast(50);
  opacity: .8;
}

/* Hide arrows on <input type="number" /> */
#create-donut-form input::-webkit-outer-spin-button,
#create-donut-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#create-donut-form input[type='number'] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 500px) {
  #create-donut-form {
    width: 90%;
  }

  #create-donut-form h1.form-title {
    margin-top: 0px;
  }

  #create-donut-form .price-input {
    padding-right: 0;
  }
  
  #create-donut-form .price-icon {
    display: none;
  }
}
