.radio-title {
  font-weight: normal;
  margin-bottom: 0;
}

#donut-radio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#donut-radio .donut-image {
  width: 90px;
  height: 90px;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;
  border: 2px solid transparent;
}

#donut-radio .donut-image:hover {
  border: 2px solid #f26d7d;
}

#donut-radio .donut-image:active {
  transform: scale(.9);
}

@media only screen and (max-width: 500px) {
  #create-donut-form #donut-radio .donut-image {
    margin: 2px;
  }
}