header {
  background-color: #faae5c;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 5px #888;
  margin-bottom: 25px;
}

header h1 {
  color: #fff;
}

header h1::after {
  content: 'TM';
  font-size: 10px;
  position: relative;
  bottom: 20px;
}