header {
  background-color: #faae5c;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 5px #888;
  margin-bottom: 25px;
}

header h1 {
  color: #f5f5f5;
}

header h1::after {
  content: 'TM';
  font-size: 10px;
  position: relative;
  bottom: 20px;
}

header nav {
  display: flex;
}

header nav > *:first-child {
  margin-right: 50px;
}

header a h3 {
  color: #f5f5f5;
  font-size: 20px;
  margin-top: 27px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
  padding-bottom: 5px;
  margin-bottom: -5px;
}

header a h3:hover {
  border-bottom: 2px solid #eee;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  header > * {
    margin: auto;
  }

  header nav {
    flex-direction: column-reverse;
  }

  header a h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  header nav .notifications {
    margin: auto;
  }

  header .notifications img {
    margin-top: 10px;
  }
}
