header {
  background-color: #faae5c;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 5px #888;
  margin-bottom: 25px;
}

header h1 {
  color: #f5f5f5;
}

header h1::after {
  content: 'TM';
  font-size: 10px;
  position: relative;
  bottom: 20px;
}

header a h3 {
  color: #f5f5f5;
  font-size: 20px;
  margin-top: 27px;
}