#home #hero {
  min-height: calc(100vh - 50px);
  min-width: 100%;
  margin-top: -25px;
  background-image: url('/images/hero.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home #hero .hero-text {
  position: absolute;
  bottom: 35%;
  left: 100px;
  max-width: 400px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

#home #hero .hero-text .hero-title {
  color: #faae5c;
  font-size: 30px;
}

#home #hero .hero-text .hero-description {
  color: #222;
}

#home #hero #scroll-down-arrow {
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: relative;
  top: 40px;
  transform: rotate(90deg);
}

#home #hero #scroll-down-arrow img {
  cursor: pointer;
}

#home #features {
  display: flex;
  background-color: #ebeaea;
}

#home #features .feature {
  width: 33%;
  padding: 40px;
  transition: all .2s;
}

#home #features .feature:hover {
  background-color: #e7e5e5;
}

#home #features .feature-title {
  margin-bottom: 25px;
  color: #ff9e35;
  font-size: 22px;
}

@media only screen and (min-width: 1700px) {
  #home #features .feature {
    padding: 50px 120px;
  }
}

@media only screen and (max-width: 1100px) {
  #home #features {
    flex-wrap: wrap;
    justify-content: center;
  }

  #home #features .feature {
    width: 100%;
    padding: 40px 100px;
    border-bottom: 4px solid #f5f5f5;
  }
}

@media only screen and (max-width: 700px) {
  #home #hero {
    background-image: none;
    background-color: #f5f5f5;
  }

  #home #hero .hero-text {
    position: relative;
    top: 70px;
    left: 50%;
    text-align: center;
    background-color: #f5f5f5;
    transform: translateX(-50%);
    padding: 20px;
  }

  #home #hero .hero-text .hero-description {
    color: #444;
  }
}

@media only screen and (max-width: 500px) {
  #home #features .feature {
    padding: 30px;
  }
}