body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #F7F6F6;
}

* {
  box-sizing: border-box;
  color: #292929;
}

a {
  text-decoration: none;
}

.fill-space {
  display: block;
  width: 100%;
}